[submodule "PlutoniumGameEngine/Dependecies/spdlog"]
	path = PlutoniumGameEngine/Dependecies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PlutoniumGameEngine/Dependecies/GLFWF"]
	path = PlutoniumGameEngine/Dependecies/GLFWF
	url = https://github.com/TheCherno/GLFW
[submodule "PlutoniumGameEngine/Dependecies/imgui"]
	path = PlutoniumGameEngine/Dependecies/imgui
	url = https://github.com/TheCherno/imgui
